@model IEnumerable<VWEB.Models.Mensagem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TemplatePrincipal.cshtml";
}

<h2>Mensagens da Villa</h2>
<hr />
<div id="mensagensDaVilla" class="row" style="width:60%">

    @foreach (var item in Model)
    {
        <div class="card col-md-4 mb-4" style="padding: 0 0 0 0;">
            <div class="card-body" style="padding: 1rem;">
                <h5 class="card-title" style="padding: 0 0 0 0;">
                    @Html.ActionLink(item.Titulo, "#","#", new { @class = "text-success" })
                </h5>
                <p class="card-text">
                    @item.Texto.Substring(0, 40)
                </p>
            </div>
        </div>
    }

</div>
