<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Escola, Villa, Encantada, Berçário, Integral, Pre-escola">
    <meta name="description" content="A melhor escola de Salvador">
    <title>Login - Painel Interno | Escola Villa Encantada</title>
    <link rel="icon" href="../assets/img/icon-passaro.png">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/Content/login.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Basic|Chivo:700i|Fira+Sans:500|Fresca|Signika|Ubunto|Merriweather|Roboto|Rufina" rel="stylesheet">



</head>

<body class="text-center">
    

    @RenderBody()



</body>
</html>